.page-header
{
  background-image: url("http://images-nitrosell-com.akamaized.net/product_images/9/2167/large-texture-mat-dragon-scale-lg.jpg");
background-size: cover;;
    background-color: #15117F;
    margin-top: 0;
    padding: 60px 60px 60px 600px;
}

body
{
  background-image: url("http://orig13.deviantart.net/e596/f/2016/100/f/5/storm_dragon__by_bayardwu-d9ydy3k.jpg");
  background-size: cover;;
   background-attachment: fixed;;
    background-position: center;;
    background-repeat: no-repeat;
    background-color: #cccccc;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #990000;
    font-size: 36pt;
    text-decoration: underline;;
}

.content {
    margin-left: 40px;
    background-color: ##15117F;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Garamond', sans-serif;
	font-weight: bolder;
}

.date {
    float: right;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #660000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
